$assetPath: "../../node_modules/Ovid/dist" !default;

@import "../../node_modules/bourbon/app/assets/stylesheets/bourbon";
@import "../../node_modules/mathsass/dist/math";

@import "../../node_modules/Ovid/dist/stylesheets/library";
@import "../../node_modules/Ovid/dist/stylesheets/ovid";

$sliderHeight: unit(1);

$colorStops: hsl(0deg, 50%, 50%) 0%;
@for $i from 1 through 360 {
  $color: hsl($i, 100%, 50%);
  $colorStop: $color percentage($i / 360);
  $colorStops: append($colorStops, $colorStop, comma);
}

.wrapper {
  max-width: unit(50);
  margin: $padding auto;
}

pre {
  overflow: scroll;
  max-height: unit(15);
  border-radius: $radius;
  margin: 0;
}

.ui-button {
  width: 100%;
}

.ui-form {
  margin: 0;
}

.slider {
  height: $sliderHeight;
  border-radius: $radius;
  margin-bottom: $paddingSmall;

  &.hue-slider {
    @include linear-gradient(to right, $colorStops);
  }

  &.chroma-slider {
    @include linear-gradient(to right, grayscale($colorPrimary), $colorPrimary);
  }

  &.lightness-slider {
    @include linear-gradient(to right, black, white);
  }
}

.bar {
  height: $sliderHeight;

  &.bar-0,
  &.bar-2 {
    background-color: rgba(white, 0.9);
  }
}

.handle {
  $width: unit(0.25);
  $offset: -(unit(0.125));
  width: $width;
  top: $offset;
  bottom: $offset;
  background-color: white;
  border: 1px solid $colorGray1;
  border-radius: unit(0.125);
}

input[type="text"].slider-input {
  width: unit(3);
  float: left;

  + input[type="text"].slider-input {
    float: right;
  }
}

.results {
  border-top: 1px solid $colorBorder3;
}

.swatches {
  @include clearfix;
  margin-bottom: $paddingSmall;
}

.swatch__container {
  @include clearfix;
  margin-bottom: $paddingMicro;
  float: left;
  width: 50%;

  input {
    width: auto;
    float: left;
    border-radius: 0 $radius $radius 0;
  }
}

.swatch {
  @include size(unit(1.25));
  float: left;
  border-radius: $radius 0 0 $radius;
}
